export PATRONI_SCOPE=$CLUSTER_NAME
export PATRONI_NAME=$HOSTNAME
export PATRONI_ETCD_HOST=$ETCD_ILB_IP:80
export PATRONI_RESTAPI_CONNECT_ADDRESS=$HOST_IP:8008
export PATRONI_POSTGRESQL_CONNECT_ADDRESS=$HOST_IP:5432
