scope: $CLUSTER_NAME
name: $HOSTNAME

restapi:
  listen: 0.0.0.0:8008
  connect_address: $HOST_IP:8008

etcd:
  host: $ETCD_ILB_FQDN

bootstrap:
  dcs:
    ttl: 100
    loop_wait: 5
    retry_timeout: 10
    maximum_lag_on_failover: 1048576
    postgresql:
      use_pg_rewind: true
      use_slots: true
      pg_hba:
        - local all postgres peer
        - local all all peer
        - host replication replicator 127.0.0.1/32 md5
        - host replication replicator $REPLICATION_HOSTS_CIDR md5 #TODO this is limited to curently hosts in the same subnet - needs to support multiple subnets         
        - host all all 0.0.0.0/0 md5
      parameters:
        data_dir: /mnt/disks/pgdata/$PGVERSION/main
        wal_level: replica
        hot_standby: "on"
        wal_keep_segments: 8
        max_wal_senders: 5
        max_replication_slots: 5
        checkpoint_timeout: 30
  initdb:
    - encoding: UTF8
    - data-checksums
  users:
    admin:
      password: password
      options:
        - createrole
        - createdb

postgresql:
  listen: 0.0.0.0
  connect_address: $HOST_IP:5432
  data_dir: /mnt/disks/pgdata/$PGVERSION/main
  bin_dir: /usr/lib/postgresql/$PGVERSION/bin
  pgpass: /tmp/pgpass
  authentication:
    replication:
      username: replicator
      password: password
    superuser:
      username: postgres
      password: password
  parameters:
    unix_socket_directories: '/var/run/postgresql'
    stats_temp_directory: '/var/run/postgresql/main.pg_stat_tmp'
tags:
  nofailover: false
  noloadbalance: false
  clonefrom: false
  nosync: false
log:
  dir: /var/log/postgresql
  level: INFO
